<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SPLITit- log ind</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header class="header">
    <nav class="header-nav">
        <a th:href="@{/public}" class="logo-link">
            <img th:src="@{/images/logo.svg}" alt="Split it logo" class="logo">
        </a>
    </nav>
</header>

<main>
    <div class="create-container">
        <h1>Opret bruger</h1>

        <form th:action="@{/create-user}" method="post" class="create-form">

            <div class="create-field">
                <label for="email">Email</label>
                <input class="create-input" type="email" id="email" name="email"
                       th:value="${email}" placeholder="din@email.dk" required>
            </div>

            <div class="create-field">
                <label for="username">Brugernavn</label>
                <input class="create-input" type="text" id="username" name="userName"
                       th:value="${userName}" placeholder="Brugernavn" required>
            </div>

            <div class="create-field">
                <label for="password1">Kodeord</label>
                <input class="create-input" type="password" id="password1" name="password1"
                       placeholder="⁕⁕⁕⁕⁕⁕⁕⁕" required>
                <div class="tooltip">
                    Kodeord skal indeholde:<br>
                    • Min. 8 karakterer<br>
                    • Min. 1 stort bogstav<br>
                    • Min. 1 tal
                </div>
            </div>

            <div class="create-field">
                <label for="password2">Gentag kodeord</label>
                <input class="create-input" type="password" id="password2" name="password2"
                       placeholder="⁕⁕⁕⁕⁕⁕⁕⁕" required>
            </div>


            <button type="submit">Opret Bruger</button>

        </form>

        <div th:if="${errorMessage != null}" class="error-succes-label">
            <p id="error-message" class="error" th:text="${errorMessage}"></p>
        </div>
        <div th:if="${session.succesMessage}" class="error-succes-label">
            <p class="success" th:text="${session.succesMessage}"></p>
        </div>

    </div>

</main>

<footer class="footer">
    <div class="footer-content">
        <p class="footer-item">
            <a href="https://github.com/Mortenjenne" target="_blank" rel="noopener" class="footer-link">
                <img th:src="@{/images/github-icon.svg}" alt="Github icon" class="github-icon">
                <span>MORTEN JENSEN</span>
            </a>
        </p>
        <p class="footer-item">
            <a href="https://github.com/DHangaard" target="_blank" rel="noopener" class="footer-link">
                <img th:src="@{/images/github-icon.svg}" alt="Github icon" class="github-icon">
                <span>DANIEL HANGAARD</span>
            </a>
        </p>
    </div>
</footer>
</body>
</html>